In [5]:
# author: minions320
# 2024.04.27
#
# This program reads two csv files and compare the records with same given key in two files.
# Output the records with difference into a new file
#
# input: source file 1, source file 2, compare key, compare fields
# output: a file contains records in differece with same key

In [6]:
import pandas as pd
import os 
import os.path
import numpy as np
import pandas.io.sql as psql

In [7]:
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# Given Input

In [8]:
# read two input files with delimieter common (",")
ref=pd.read_csv('70210444b.csv', sep=",",low_memory=False)
new=pd.read_csv('70210464b.csv', sep=",",low_memory=False)

compare_key ='compare_key'
compare_field = ["compare_field1","compare_field2"]

# convert null to ''
ref = ref.fillna('')
new = new.fillna('')

ref_header_array = ref.columns.values
new_header_array = new.columns.values

# replace the header with "ref" in ref file
for x in ref_header_array:
    ref.rename(columns={x:x+'_ref'}, inplace=True)

for y in new_header_array:
    new.rename(columns={y:y+'_new'}, inplace=True)

In [9]:
print("No. of records in reference run = ", len(ref))
#print("10 Sample Records")
ref_sample = ref.sample(n = len(ref))
ref_sample

#lpc.as_of_date.value_counts()

No. of records in reference run =  10

,data_set_id_ref,compare_key_ref,compare_field1_ref,compare_field2_ref,compare_field3_ref,compare_field4_ref,compare_field5_ref,compare_field5.1_ref,compare_field6_ref,compare_field7_ref,compare_field8_ref,compare_field9_ref
8,70210444,YWLB4SA48N7R3AUA,-0.00,10010.06,10010.06,1.00,False,False,29/12/2023,122227019.00,UNB_WOK,Q
5,70210444,P5JB4SA3LK525HLA,0.01,27.74,25.35,1.09,False,False,2/1/2024,123948317.00,UNB_BLOC_DOC,Q
1,70210444,13133596396,0.12,829.49,829.49,1.00,False,False,27/2/2024,,UNB_FXFWD,Q
9,70210444,APNB4SA7SB4NGDRA,0.02,48462.90,48462.90,1.00,False,False,27/2/2024,131029248.00,UNB_GOA,Q
0,70210444,774B4SAXWDUK26BA,1.51,472.76,397.90,1.19,False,False,29/12/2023,124058086.00,UNB_WOK,No Q
4,70210444,SK2B4SAV7X4BK23A,-0.15,1093.10,1093.10,1.00,True,False,27/2/2024,122267484.00,UNB_CPNKO,Q
3,70210444,5MGB4SA48N6XQVCA,,10017.60,10017.60,1.00,True,False,27/2/2024,128764559.00,|EX|EXTP|FA|FXUN|INV|MU|NL|NLO|SHL@046|SSPFI|USD,No Q
6,70210444,TM5B4SAZFKH88F8A,-0.02,1162.91,1022.49,1.14,False,False,27/2/2024,125289451.00,UNB_GOA,Q
7,70210444,7QMB4SA43ZBTBVFA,,,,-1.00,,False,,105162016.00,|AQDQ|CONTR|EQUN|EX|EXTP|FA|MPM|MU|NL|PRA_OVRD...,No Q
2,70210444,897B4SA5L5V9C66A,0.00,995.20,995.20,1.00,True,False,27/2/2024,129530242.00,UNB_GOA,Q

In [10]:
print("No. of records in new run = ", len(new))
#new_sample = new.sample(n = len(new))
#new_sample

#lpc.as_of_date.value_counts()

No. of records in new run =  10

In [11]:
input_join = pd.merge(new,ref,how='inner',right_on=[compare_key+'_ref'], left_on=[compare_key+'_new'])
print("NUMBER OF RECORDS mapped ", len(input_join))
input_join_sample = input_join.sample (n=len(input_join))
input_join_sample

NUMBER OF RECORDS mapped  10

,data_set_id_new,compare_key_new,compare_field1_new,compare_field2_new,compare_field3_new,compare_field4_new,compare_field5_new,compare_field5.1_new,compare_field6_new,compare_field7_new,compare_field8_new,compare_field9_new,data_set_id_ref,compare_key_ref,compare_field1_ref,compare_field2_ref,compare_field3_ref,compare_field4_ref,compare_field5_ref,compare_field5.1_ref,compare_field6_ref,compare_field7_ref,compare_field8_ref,compare_field9_ref
6,70210464,TM5B4SAZFKH88F8A,-0.02,1162.91,1022.49,1.14,False,False,27/2/2024,125289451.00,UNB_GOA,Q,70210444,TM5B4SAZFKH88F8A,-0.02,1162.91,1022.49,1.14,False,False,27/2/2024,125289451.00,UNB_GOA,Q
1,70210464,13133596396,0.12,829.49,829.49,1.00,False,False,27/2/2024,,UNB_FXFWD,Q,70210444,13133596396,0.12,829.49,829.49,1.00,False,False,27/2/2024,,UNB_FXFWD,Q
2,70210464,897B4SA5L5V9C66A,0.00,995.20,995.20,1.00,True,False,27/2/2024,129530242.00,UNB_GOA,Q,70210444,897B4SA5L5V9C66A,0.00,995.20,995.20,1.00,True,False,27/2/2024,129530242.00,UNB_GOA,Q
0,70210464,774B4SAXWDUK26BA,1.51,472.76,397.90,1.19,False,False,29/12/2023,124058086.00,UNB_WOK,No Q,70210444,774B4SAXWDUK26BA,1.51,472.76,397.90,1.19,False,False,29/12/2023,124058086.00,UNB_WOK,No Q
9,70210464,APNB4SA7SB4NGDRA,0.02,48462.90,48462.90,1.00,False,False,27/2/2024,131029248.00,UNB_GOA,Q,70210444,APNB4SA7SB4NGDRA,0.02,48462.90,48462.90,1.00,False,False,27/2/2024,131029248.00,UNB_GOA,Q
5,70210464,P5JB4SA3LK525HLA,0.01,27.74,25.35,1.09,False,False,2/1/2024,123948317.00,UNB_BLOC_DOC,Q,70210444,P5JB4SA3LK525HLA,0.01,27.74,25.35,1.09,False,False,2/1/2024,123948317.00,UNB_BLOC_DOC,Q
8,70210464,YWLB4SA48N7R3AUA,-0.00,10010.06,10010.06,1.00,False,False,29/12/2023,122227019.00,UNB_WOK,Q,70210444,YWLB4SA48N7R3AUA,-0.00,10010.06,10010.06,1.00,False,False,29/12/2023,122227019.00,UNB_WOK,Q
3,70210464,5MGB4SA48N6XQVCA,,10017.60,10017.60,1.00,True,False,27/2/2024,128764559.00,|EX|EXTP|FA|FXUN|INV|MU|NL|NLO|SHL@046|SSPFI|USD,No Q,70210444,5MGB4SA48N6XQVCA,,10017.60,10017.60,1.00,True,False,27/2/2024,128764559.00,|EX|EXTP|FA|FXUN|INV|MU|NL|NLO|SHL@046|SSPFI|USD,No Q
4,70210464,SK2B4SAV7X4BK23A,-0.15,1093.10,1093.10,1.00,True,False,27/2/2024,122267484.00,UNB_CPNKO,Q,70210444,SK2B4SAV7X4BK23A,-0.15,1093.10,1093.10,1.00,True,False,27/2/2024,122267484.00,UNB_CPNKO,Q
7,70210464,7QMB4SA43ZBTBVFA,0.01,,,-1.00,,False,,105162016.00,|AQDQ|CONTR|EQUN|EX|EXTP|FA|MPM|MU|NL|PRA_OVRD...,No Q,70210444,7QMB4SA43ZBTBVFA,,,,-1.00,,False,,105162016.00,|AQDQ|CONTR|EQUN|EX|EXTP|FA|MPM|MU|NL|PRA_OVRD...,No Q

In [12]:
compare_condition = ""
compare_len = len(ref_header_array)

for i in range(1,compare_len):
    if len(compare_condition) == 0:
        if ref_header_array[i] in compare_field:
            compare_condition = compare_condition + "(input_join['"+ref_header_array[i]+"_ref'] != input_join['" + ref_header_array[i]+"_new'])"
    else:
        if ref_header_array[i] in compare_field:
            compare_condition = compare_condition + ' | '
            compare_condition = compare_condition + "(input_join['"+ref_header_array[i]+"_ref'] != input_join['" + ref_header_array[i]+"_new'])"

print(compare_condition)

input_join_mismatch = input_join[eval(compare_condition)]


print("No. of records mistmatch = ", len(input_join_mismatch))
input_join_mismatch

(input_join['compare_field1_ref'] != input_join['compare_field1_new']) | (input_join['compare_field2_ref'] != input_join['compare_field2_new'])
No. of records mistmatch =  2

,data_set_id_new,compare_key_new,compare_field1_new,compare_field2_new,compare_field3_new,compare_field4_new,compare_field5_new,compare_field5.1_new,compare_field6_new,compare_field7_new,compare_field8_new,compare_field9_new,data_set_id_ref,compare_key_ref,compare_field1_ref,compare_field2_ref,compare_field3_ref,compare_field4_ref,compare_field5_ref,compare_field5.1_ref,compare_field6_ref,compare_field7_ref,compare_field8_ref,compare_field9_ref
0,70210464,774B4SAXWDUK26BA,1.51,472.76,397.90,1.19,False,False,29/12/2023,124058086.00,UNB_WOK,No Q,70210444,774B4SAXWDUK26BA,1.51,472.76,397.90,1.19,False,False,29/12/2023,124058086.00,UNB_WOK,No Q
7,70210464,7QMB4SA43ZBTBVFA,0.01,,,-1.00,,False,,105162016.00,|AQDQ|CONTR|EQUN|EX|EXTP|FA|MPM|MU|NL|PRA_OVRD...,No Q,70210444,7QMB4SA43ZBTBVFA,,,,-1.00,,False,,105162016.00,|AQDQ|CONTR|EQUN|EX|EXTP|FA|MPM|MU|NL|PRA_OVRD...,No Q

## Output mismatch result to file

In [13]:
writer = pd.ExcelWriter('compare_result.xlsx', engine='xlsxwriter')
input_join_mismatch.to_excel(writer, sheet_name='DIFF', index=False)
writer.save()